body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.showcase-container {
    text-align: center;
    max-width: 2000px; /* Adjust max-width as needed */
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto multiple lines */
    justify-content: center; /* Center items horizontally */
}

.gif-wrapper {
    width: 500px; /* Set width of each gif-wrapper */
    margin: 10px; /* Adjust margin as needed */
    text-align: center; /* Center content horizontally within each gif-wrapper */
}

.giphy-embed {
    width: 100%; /* Make sure the iframe fills its container */
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
